body {
	background-color: #001;
	background-image: url("../images/brainwashed.gif");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.container {
}

h1 {
	color: #f90606; 
	font-family: 'Lobster', serif;
	font-size: 60px; 
	font-weight: normal;
	margin-left: 20px;
	margin-top: 40px; 
	text-align: center;
	text-shadow: 2px 2px #ffbf00; 
}

#theorists #theorist .theorist .opponent .player {
	border-radius: 5px;
	color: #0000ff;
	font-size: 18px;
	padding: 5px 15px;
	text-align: center;
}

.theorist .lostTheorist{
	background-color: rgba(0, 0, 0, 0.3);
}

.opponent .player {
	background-color: rgba(255, 0, 0, 0.3);
	font-size: 18px;

}

#action {
	color: #f90606;
	font-family: 'Lobster', sans-serif;
	font-size: 40px;
	text-align: center;
	text-shadow: 2px 2px #ffbf00;
}

#player-header, #opponent-header {
	color: #0000ff;
	font-family: 'Lobster', sans-serif;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}



.points, .name {
	background-color: black;
	color: white;
	clear: both;
	display: block;
	font-size: 18px;
	margin: 5px;
}

.row {
	margin: 15px;
}

h3 {
	color: #0000b3;
	font-family: 'Lobster', serif;
	font-weight: bold;
	size: xx-large;
	text-align: center;
}

#debate h2 {
	color: #f90606;
	font-family: 'Lobster', serif;
	font-size: 45px;
	padding: 25px;
	text-align: center;
	text-shadow: 2px 2px #ffbf00; 
}

h2 > .name {
	color: white;
	font-size: 25px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.btn {
	background-color: #f90606;
	color: #ffbf00;
}

.footer {
	
	margin-right: 10px;

  	}