body {
	background-image: url("../images/brainwashed-0.png");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;;
}

h1 {color: #f90606; 
	font-family: "Great Vibes", cursive;
	font-size: 60px; 
	font-weight: normal;
	margin-left: 20px;
	margin-top: 40px; 
	text-align: left;
	text-shadow: 2px 2px #ffbf00; 
}

.container {

}

.theorist .opponent .player .lostTheorist{
	border-radius: 5px;
	color: #0000ff;
	padding: 5px 15px;
	text-align: center;
}

.theorist .lostTheorist{
	background-color: rgba(0, 0, 0, 0.3);
}

.opponent {
	background-color: rgba(255, 0, 0, 0.3);
}

.player {
	background-color: rgba(0, 255, 0, 0.3);
}

#action {
	color: #0000ff;
	font-family: "Great Vibes", cursive;
	font-size: 30px;
	text-align: center;
	text-shadow: 2px 2px black;
}

#theorist, #player-header, #opponent-header #vs-header{
	color: #0000ff;
	font-size: 30px;
	text-align: center;
}

#player-header, #opponent-header {
	font-size: x-large;
}

.points, .name {
	clear: both;
	display: block;
	margin: 5px;
}

.row {
	margin: 15px;
}

h3 {
	color: #FF00FF;
	size: xx-large;
	text-align: center;
}

#battle h2 {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 15px;
	color: white;
	font-size: xx-large;
	padding: 25px;
	text-align: center;

}

.footer {
	background-color: #f90606;
	border-top: solid;
	border-color: #ffbf00;
	color: white;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
  	}